<div class='module'>
  <div id="flash_alert" style="display: none;">Warning. At least one 30 minute interval has more than 3 items. Additional items are hidden. Please utilize the text listing above for verification.</div>
  <div id="calendarHolder">
    <div id="calendarHeader">
      <div class="calendarTimeTitle">&nbsp;</div>
      <div class="calendarTitle">Monday</div>
      <div class="calendarTitle">Tuesday</div>
      <div class="calendarTitle">Wednesday</div>
      <div class="calendarTitle">Thursday</div>
      <div class="calendarTitle">Friday</div>
      <div class="calendarTitle">Saturday</div>
      <div class="calendarTitle">Sunday</div>
    </div>
    <div id="timeGrid">
      <div class="labelColumn">
        <div class="calendarTimeLabel">0:00</div>
        <div class="calendarTimeLabel">0:30</div>
        <div class="calendarTimeLabel">1:00</div>
        <div class="calendarTimeLabel">1:30</div>
        <div class="calendarTimeLabel">2:00</div>
        <div class="calendarTimeLabel">2:30</div>
        <div class="calendarTimeLabel">3:00</div>
        <div class="calendarTimeLabel">3:30</div>
        <div class="calendarTimeLabel">4:00</div>
        <div class="calendarTimeLabel">4:30</div>
        <div class="calendarTimeLabel">5:00</div>
        <div class="calendarTimeLabel">5:30</div>
        <div class="calendarTimeLabel">6:00</div>
        <div class="calendarTimeLabel">6:30</div>
        <div class="calendarTimeLabel">7:00</div>
        <div class="calendarTimeLabel">7:30</div>
        <div class="calendarTimeLabel">8:00</div>
        <div class="calendarTimeLabel">8:30</div>
        <div class="calendarTimeLabel">9:00</div>
        <div class="calendarTimeLabel">9:30</div>
        <div class="calendarTimeLabel">10:00</div>
        <div class="calendarTimeLabel">10:30</div>
        <div class="calendarTimeLabel">11:00</div>
        <div class="calendarTimeLabel">11:30</div>
        <div class="calendarTimeLabel">12:00</div>
        <div class="calendarTimeLabel">12:30</div>
        <div class="calendarTimeLabel">13:00</div>
        <div class="calendarTimeLabel">13:30</div>
        <div class="calendarTimeLabel">14:00</div>
        <div class="calendarTimeLabel">14:30</div>
        <div class="calendarTimeLabel">15:00</div>
        <div class="calendarTimeLabel">15:30</div>
        <div class="calendarTimeLabel">16:00</div>
        <div class="calendarTimeLabel">16:30</div>
        <div class="calendarTimeLabel">17:00</div>
        <div class="calendarTimeLabel">17:30</div>
        <div class="calendarTimeLabel">18:00</div>
        <div class="calendarTimeLabel">18:30</div>
        <div class="calendarTimeLabel">19:00</div>
        <div class="calendarTimeLabel">19:30</div>
        <div class="calendarTimeLabel">20:00</div>
        <div class="calendarTimeLabel">20:30</div>
        <div class="calendarTimeLabel">21:00</div>
        <div class="calendarTimeLabel">21:30</div>
        <div class="calendarTimeLabel">22:00</div>
        <div class="calendarTimeLabel">22:30</div>
        <div class="calendarTimeLabel">23:00</div>
        <div class="calendarTimeLabel">23:30</div>
      </div>
      <div class="dayColumn">
        <div class="calendarTimeSegment" id="m000"></div>
        <div class="calendarTimeSegment" id="m030"></div>
        <div class="calendarTimeSegment" id="m100"></div>
        <div class="calendarTimeSegment" id="m130"></div>
        <div class="calendarTimeSegment" id="m200"></div>
        <div class="calendarTimeSegment" id="m230"></div>
        <div class="calendarTimeSegment" id="m300"></div>
        <div class="calendarTimeSegment" id="m330"></div>
        <div class="calendarTimeSegment" id="m400"></div>
        <div class="calendarTimeSegment" id="m430"></div>
        <div class="calendarTimeSegment" id="m500"></div>
        <div class="calendarTimeSegment" id="m530"></div>
        <div class="calendarTimeSegment" id="m600"></div>
        <div class="calendarTimeSegment" id="m630"></div>
        <div class="calendarTimeSegment" id="m700"></div>
        <div class="calendarTimeSegment" id="m730"></div>
        <div class="calendarTimeSegment" id="m800"></div>
        <div class="calendarTimeSegment" id="m830"></div>
        <div class="calendarTimeSegment" id="m900"></div>
        <div class="calendarTimeSegment" id="m930"></div>
        <div class="calendarTimeSegment" id="m1000"></div>
        <div class="calendarTimeSegment" id="m1030"></div>
        <div class="calendarTimeSegment" id="m1100"></div>
        <div class="calendarTimeSegment" id="m1130"></div>
        <div class="calendarTimeSegment" id="m1200"></div>
        <div class="calendarTimeSegment" id="m1230"></div>
        <div class="calendarTimeSegment" id="m1300"></div>
        <div class="calendarTimeSegment" id="m1330"></div>
        <div class="calendarTimeSegment" id="m1400"></div>
        <div class="calendarTimeSegment" id="m1430"></div>
        <div class="calendarTimeSegment" id="m1500"></div>
        <div class="calendarTimeSegment" id="m1530"></div>
        <div class="calendarTimeSegment" id="m1600"></div>
        <div class="calendarTimeSegment" id="m1630"></div>
        <div class="calendarTimeSegment" id="m1700"></div>
        <div class="calendarTimeSegment" id="m1730"></div>
        <div class="calendarTimeSegment" id="m1800"></div>
        <div class="calendarTimeSegment" id="m1830"></div>
        <div class="calendarTimeSegment" id="m1900"></div>
        <div class="calendarTimeSegment" id="m1930"></div>
        <div class="calendarTimeSegment" id="m2000"></div>
        <div class="calendarTimeSegment" id="m2030"></div>
        <div class="calendarTimeSegment" id="m2100"></div>
        <div class="calendarTimeSegment" id="m2130"></div>
        <div class="calendarTimeSegment" id="m2200"></div>
        <div class="calendarTimeSegment" id="m2230"></div>
        <div class="calendarTimeSegment" id="m2300"></div>
        <div class="calendarTimeSegment" id="m2330"></div>
      </div>
      <div class="dayColumn">
        <div class="calendarTimeSegment" id="t000"></div>
        <div class="calendarTimeSegment" id="t030"></div>
        <div class="calendarTimeSegment" id="t100"></div>
        <div class="calendarTimeSegment" id="t130"></div>
        <div class="calendarTimeSegment" id="t200"></div>
        <div class="calendarTimeSegment" id="t230"></div>
        <div class="calendarTimeSegment" id="t300"></div>
        <div class="calendarTimeSegment" id="t330"></div>
        <div class="calendarTimeSegment" id="t400"></div>
        <div class="calendarTimeSegment" id="t430"></div>
        <div class="calendarTimeSegment" id="t500"></div>
        <div class="calendarTimeSegment" id="t530"></div>
        <div class="calendarTimeSegment" id="t600"></div>
        <div class="calendarTimeSegment" id="t630"></div>
        <div class="calendarTimeSegment" id="t700"></div>
        <div class="calendarTimeSegment" id="t730"></div>
        <div class="calendarTimeSegment" id="t800"></div>
        <div class="calendarTimeSegment" id="t830"></div>
        <div class="calendarTimeSegment" id="t900"></div>
        <div class="calendarTimeSegment" id="t930"></div>
        <div class="calendarTimeSegment" id="t1000"></div>
        <div class="calendarTimeSegment" id="t1030"></div>
        <div class="calendarTimeSegment" id="t1100"></div>
        <div class="calendarTimeSegment" id="t1130"></div>
        <div class="calendarTimeSegment" id="t1200"></div>
        <div class="calendarTimeSegment" id="t1230"></div>
        <div class="calendarTimeSegment" id="t1300"></div>
        <div class="calendarTimeSegment" id="t1330"></div>
        <div class="calendarTimeSegment" id="t1400"></div>
        <div class="calendarTimeSegment" id="t1430"></div>
        <div class="calendarTimeSegment" id="t1500"></div>
        <div class="calendarTimeSegment" id="t1530"></div>
        <div class="calendarTimeSegment" id="t1600"></div>
        <div class="calendarTimeSegment" id="t1630"></div>
        <div class="calendarTimeSegment" id="t1700"></div>
        <div class="calendarTimeSegment" id="t1730"></div>
        <div class="calendarTimeSegment" id="t1800"></div>
        <div class="calendarTimeSegment" id="t1830"></div>
        <div class="calendarTimeSegment" id="t1900"></div>
        <div class="calendarTimeSegment" id="t1930"></div>
        <div class="calendarTimeSegment" id="t2000"></div>
        <div class="calendarTimeSegment" id="t2030"></div>
        <div class="calendarTimeSegment" id="t2100"></div>
        <div class="calendarTimeSegment" id="t2130"></div>
        <div class="calendarTimeSegment" id="t2200"></div>
        <div class="calendarTimeSegment" id="t2230"></div>
        <div class="calendarTimeSegment" id="t2300"></div>
        <div class="calendarTimeSegment" id="t2330"></div>
      </div>
      <div class="dayColumn">
        <div class="calendarTimeSegment" id="w000"></div>
        <div class="calendarTimeSegment" id="w030"></div>
        <div class="calendarTimeSegment" id="w100"></div>
        <div class="calendarTimeSegment" id="w130"></div>
        <div class="calendarTimeSegment" id="w200"></div>
        <div class="calendarTimeSegment" id="w230"></div>
        <div class="calendarTimeSegment" id="w300"></div>
        <div class="calendarTimeSegment" id="w330"></div>
        <div class="calendarTimeSegment" id="w400"></div>
        <div class="calendarTimeSegment" id="w430"></div>
        <div class="calendarTimeSegment" id="w500"></div>
        <div class="calendarTimeSegment" id="w530"></div>
        <div class="calendarTimeSegment" id="w600"></div>
        <div class="calendarTimeSegment" id="w630"></div>
        <div class="calendarTimeSegment" id="w700"></div>
        <div class="calendarTimeSegment" id="w730"></div>
        <div class="calendarTimeSegment" id="w800"></div>
        <div class="calendarTimeSegment" id="w830"></div>
        <div class="calendarTimeSegment" id="w900"></div>
        <div class="calendarTimeSegment" id="w930"></div>
        <div class="calendarTimeSegment" id="w1000"></div>
        <div class="calendarTimeSegment" id="w1030"></div>
        <div class="calendarTimeSegment" id="w1100"></div>
        <div class="calendarTimeSegment" id="w1130"></div>
        <div class="calendarTimeSegment" id="w1200"></div>
        <div class="calendarTimeSegment" id="w1230"></div>
        <div class="calendarTimeSegment" id="w1300"></div>
        <div class="calendarTimeSegment" id="w1330"></div>
        <div class="calendarTimeSegment" id="w1400"></div>
        <div class="calendarTimeSegment" id="w1430"></div>
        <div class="calendarTimeSegment" id="w1500"></div>
        <div class="calendarTimeSegment" id="w1530"></div>
        <div class="calendarTimeSegment" id="w1600"></div>
        <div class="calendarTimeSegment" id="w1630"></div>
        <div class="calendarTimeSegment" id="w1700"></div>
        <div class="calendarTimeSegment" id="w1730"></div>
        <div class="calendarTimeSegment" id="w1800"></div>
        <div class="calendarTimeSegment" id="w1830"></div>
        <div class="calendarTimeSegment" id="w1900"></div>
        <div class="calendarTimeSegment" id="w1930"></div>
        <div class="calendarTimeSegment" id="w2000"></div>
        <div class="calendarTimeSegment" id="w2030"></div>
        <div class="calendarTimeSegment" id="w2100"></div>
        <div class="calendarTimeSegment" id="w2130"></div>
        <div class="calendarTimeSegment" id="w2200"></div>
        <div class="calendarTimeSegment" id="w2230"></div>
        <div class="calendarTimeSegment" id="w2300"></div>
        <div class="calendarTimeSegment" id="w2330"></div>
      </div>
      <div class="dayColumn">
        <div class="calendarTimeSegment" id="r000"></div>
        <div class="calendarTimeSegment" id="r030"></div>
        <div class="calendarTimeSegment" id="r100"></div>
        <div class="calendarTimeSegment" id="r130"></div>
        <div class="calendarTimeSegment" id="r200"></div>
        <div class="calendarTimeSegment" id="r230"></div>
        <div class="calendarTimeSegment" id="r300"></div>
        <div class="calendarTimeSegment" id="r330"></div>
        <div class="calendarTimeSegment" id="r400"></div>
        <div class="calendarTimeSegment" id="r430"></div>
        <div class="calendarTimeSegment" id="r500"></div>
        <div class="calendarTimeSegment" id="r530"></div>
        <div class="calendarTimeSegment" id="r600"></div>
        <div class="calendarTimeSegment" id="r630"></div>
        <div class="calendarTimeSegment" id="r700"></div>
        <div class="calendarTimeSegment" id="r730"></div>
        <div class="calendarTimeSegment" id="r800"></div>
        <div class="calendarTimeSegment" id="r830"></div>
        <div class="calendarTimeSegment" id="r900"></div>
        <div class="calendarTimeSegment" id="r930"></div>
        <div class="calendarTimeSegment" id="r1000"></div>
        <div class="calendarTimeSegment" id="r1030"></div>
        <div class="calendarTimeSegment" id="r1100"></div>
        <div class="calendarTimeSegment" id="r1130"></div>
        <div class="calendarTimeSegment" id="r1200"></div>
        <div class="calendarTimeSegment" id="r1230"></div>
        <div class="calendarTimeSegment" id="r1300"></div>
        <div class="calendarTimeSegment" id="r1330"></div>
        <div class="calendarTimeSegment" id="r1400"></div>
        <div class="calendarTimeSegment" id="r1430"></div>
        <div class="calendarTimeSegment" id="r1500"></div>
        <div class="calendarTimeSegment" id="r1530"></div>
        <div class="calendarTimeSegment" id="r1600"></div>
        <div class="calendarTimeSegment" id="r1630"></div>
        <div class="calendarTimeSegment" id="r1700"></div>
        <div class="calendarTimeSegment" id="r1730"></div>
        <div class="calendarTimeSegment" id="r1800"></div>
        <div class="calendarTimeSegment" id="r1830"></div>
        <div class="calendarTimeSegment" id="r1900"></div>
        <div class="calendarTimeSegment" id="r1930"></div>
        <div class="calendarTimeSegment" id="r2000"></div>
        <div class="calendarTimeSegment" id="r2030"></div>
        <div class="calendarTimeSegment" id="r2100"></div>
        <div class="calendarTimeSegment" id="r2130"></div>
        <div class="calendarTimeSegment" id="r2200"></div>
        <div class="calendarTimeSegment" id="r2230"></div>
        <div class="calendarTimeSegment" id="r2300"></div>
        <div class="calendarTimeSegment" id="r2330"></div>
      </div>
      <div class="dayColumn">
        <div class="calendarTimeSegment" id="f000"></div>
        <div class="calendarTimeSegment" id="f030"></div>
        <div class="calendarTimeSegment" id="f100"></div>
        <div class="calendarTimeSegment" id="f130"></div>
        <div class="calendarTimeSegment" id="f200"></div>
        <div class="calendarTimeSegment" id="f230"></div>
        <div class="calendarTimeSegment" id="f300"></div>
        <div class="calendarTimeSegment" id="f330"></div>
        <div class="calendarTimeSegment" id="f400"></div>
        <div class="calendarTimeSegment" id="f430"></div>
        <div class="calendarTimeSegment" id="f500"></div>
        <div class="calendarTimeSegment" id="f530"></div>
        <div class="calendarTimeSegment" id="f600"></div>
        <div class="calendarTimeSegment" id="f630"></div>
        <div class="calendarTimeSegment" id="f700"></div>
        <div class="calendarTimeSegment" id="f730"></div>
        <div class="calendarTimeSegment" id="f800"></div>
        <div class="calendarTimeSegment" id="f830"></div>
        <div class="calendarTimeSegment" id="f900"></div>
        <div class="calendarTimeSegment" id="f930"></div>
        <div class="calendarTimeSegment" id="f1000"></div>
        <div class="calendarTimeSegment" id="f1030"></div>
        <div class="calendarTimeSegment" id="f1100"></div>
        <div class="calendarTimeSegment" id="f1130"></div>
        <div class="calendarTimeSegment" id="f1200"></div>
        <div class="calendarTimeSegment" id="f1230"></div>
        <div class="calendarTimeSegment" id="f1300"></div>
        <div class="calendarTimeSegment" id="f1330"></div>
        <div class="calendarTimeSegment" id="f1400"></div>
        <div class="calendarTimeSegment" id="f1430"></div>
        <div class="calendarTimeSegment" id="f1500"></div>
        <div class="calendarTimeSegment" id="f1530"></div>
        <div class="calendarTimeSegment" id="f1600"></div>
        <div class="calendarTimeSegment" id="f1630"></div>
        <div class="calendarTimeSegment" id="f1700"></div>
        <div class="calendarTimeSegment" id="f1730"></div>
        <div class="calendarTimeSegment" id="f1800"></div>
        <div class="calendarTimeSegment" id="f1830"></div>
        <div class="calendarTimeSegment" id="f1900"></div>
        <div class="calendarTimeSegment" id="f1930"></div>
        <div class="calendarTimeSegment" id="f2000"></div>
        <div class="calendarTimeSegment" id="f2030"></div>
        <div class="calendarTimeSegment" id="f2100"></div>
        <div class="calendarTimeSegment" id="f2130"></div>
        <div class="calendarTimeSegment" id="f2200"></div>
        <div class="calendarTimeSegment" id="f2230"></div>
        <div class="calendarTimeSegment" id="f2300"></div>
        <div class="calendarTimeSegment" id="f2330"></div>
      </div>
      <div class="dayColumn">
        <div class="calendarTimeSegment" id="s000"></div>
        <div class="calendarTimeSegment" id="s030"></div>
        <div class="calendarTimeSegment" id="s100"></div>
        <div class="calendarTimeSegment" id="s130"></div>
        <div class="calendarTimeSegment" id="s200"></div>
        <div class="calendarTimeSegment" id="s230"></div>
        <div class="calendarTimeSegment" id="s300"></div>
        <div class="calendarTimeSegment" id="s330"></div>
        <div class="calendarTimeSegment" id="s400"></div>
        <div class="calendarTimeSegment" id="s430"></div>
        <div class="calendarTimeSegment" id="s500"></div>
        <div class="calendarTimeSegment" id="s530"></div>
        <div class="calendarTimeSegment" id="s600"></div>
        <div class="calendarTimeSegment" id="s630"></div>
        <div class="calendarTimeSegment" id="s700"></div>
        <div class="calendarTimeSegment" id="s730"></div>
        <div class="calendarTimeSegment" id="s800"></div>
        <div class="calendarTimeSegment" id="s830"></div>
        <div class="calendarTimeSegment" id="s900"></div>
        <div class="calendarTimeSegment" id="s930"></div>
        <div class="calendarTimeSegment" id="s1000"></div>
        <div class="calendarTimeSegment" id="s1030"></div>
        <div class="calendarTimeSegment" id="s1100"></div>
        <div class="calendarTimeSegment" id="s1130"></div>
        <div class="calendarTimeSegment" id="s1200"></div>
        <div class="calendarTimeSegment" id="s1230"></div>
        <div class="calendarTimeSegment" id="s1300"></div>
        <div class="calendarTimeSegment" id="s1330"></div>
        <div class="calendarTimeSegment" id="s1400"></div>
        <div class="calendarTimeSegment" id="s1430"></div>
        <div class="calendarTimeSegment" id="s1500"></div>
        <div class="calendarTimeSegment" id="s1530"></div>
        <div class="calendarTimeSegment" id="s1600"></div>
        <div class="calendarTimeSegment" id="s1630"></div>
        <div class="calendarTimeSegment" id="s1700"></div>
        <div class="calendarTimeSegment" id="s1730"></div>
        <div class="calendarTimeSegment" id="s1800"></div>
        <div class="calendarTimeSegment" id="s1830"></div>
        <div class="calendarTimeSegment" id="s1900"></div>
        <div class="calendarTimeSegment" id="s1930"></div>
        <div class="calendarTimeSegment" id="s2000"></div>
        <div class="calendarTimeSegment" id="s2030"></div>
        <div class="calendarTimeSegment" id="s2100"></div>
        <div class="calendarTimeSegment" id="s2130"></div>
        <div class="calendarTimeSegment" id="s2200"></div>
        <div class="calendarTimeSegment" id="s2230"></div>
        <div class="calendarTimeSegment" id="s2300"></div>
        <div class="calendarTimeSegment" id="s2330"></div>
      </div>
      <div class="dayColumn">
        <div class="calendarTimeSegment" id="u000"></div>
        <div class="calendarTimeSegment" id="u030"></div>
        <div class="calendarTimeSegment" id="u100"></div>
        <div class="calendarTimeSegment" id="u130"></div>
        <div class="calendarTimeSegment" id="u200"></div>
        <div class="calendarTimeSegment" id="u230"></div>
        <div class="calendarTimeSegment" id="u300"></div>
        <div class="calendarTimeSegment" id="u330"></div>
        <div class="calendarTimeSegment" id="u400"></div>
        <div class="calendarTimeSegment" id="u430"></div>
        <div class="calendarTimeSegment" id="u500"></div>
        <div class="calendarTimeSegment" id="u530"></div>
        <div class="calendarTimeSegment" id="u600"></div>
        <div class="calendarTimeSegment" id="u630"></div>
        <div class="calendarTimeSegment" id="u700"></div>
        <div class="calendarTimeSegment" id="u730"></div>
        <div class="calendarTimeSegment" id="u800"></div>
        <div class="calendarTimeSegment" id="u830"></div>
        <div class="calendarTimeSegment" id="u900"></div>
        <div class="calendarTimeSegment" id="u930"></div>
        <div class="calendarTimeSegment" id="u1000"></div>
        <div class="calendarTimeSegment" id="u1030"></div>
        <div class="calendarTimeSegment" id="u1100"></div>
        <div class="calendarTimeSegment" id="u1130"></div>
        <div class="calendarTimeSegment" id="u1200"></div>
        <div class="calendarTimeSegment" id="u1230"></div>
        <div class="calendarTimeSegment" id="u1300"></div>
        <div class="calendarTimeSegment" id="u1330"></div>
        <div class="calendarTimeSegment" id="u1400"></div>
        <div class="calendarTimeSegment" id="u1430"></div>
        <div class="calendarTimeSegment" id="u1500"></div>
        <div class="calendarTimeSegment" id="u1530"></div>
        <div class="calendarTimeSegment" id="u1600"></div>
        <div class="calendarTimeSegment" id="u1630"></div>
        <div class="calendarTimeSegment" id="u1700"></div>
        <div class="calendarTimeSegment" id="u1730"></div>
        <div class="calendarTimeSegment" id="u1800"></div>
        <div class="calendarTimeSegment" id="u1830"></div>
        <div class="calendarTimeSegment" id="u1900"></div>
        <div class="calendarTimeSegment" id="u1930"></div>
        <div class="calendarTimeSegment" id="u2000"></div>
        <div class="calendarTimeSegment" id="u2030"></div>
        <div class="calendarTimeSegment" id="u2100"></div>
        <div class="calendarTimeSegment" id="u2130"></div>
        <div class="calendarTimeSegment" id="u2200"></div>
        <div class="calendarTimeSegment" id="u2230"></div>
        <div class="calendarTimeSegment" id="u2300"></div>
        <div class="calendarTimeSegment" id="u2330"></div>
      </div>
    </div>
  </div>
</div>

<script>
<% @schedules.each do |schedule| %> 
 <% if schedule.monday? %>
   $('#m<%= time_as_string(schedule.start_time, "") %>').append('<div class="scheduledItem">&nbsp; <%= time_as_string(schedule.start_time, ":") %>: <%= link_to truncate(schedule.test_plan.name, :length => 13), schedule, :title => schedule.test_plan.name %></div>');
   if ($('#m<%= time_as_string(schedule.start_time, "") %>').children('.scheduledItem').size() > 3) {
     $('#flash_alert').show();
   } 
 <% end %>
 <% if schedule.tuesday? %>
   $('#t<%= time_as_string(schedule.start_time, "") %>').append('<div class="scheduledItem">&nbsp; <%= time_as_string(schedule.start_time, ":") %>: <%= link_to truncate(schedule.test_plan.name, :length => 13), schedule, :title => schedule.test_plan.name %></div>');
   if ($('#t<%= time_as_string(schedule.start_time, "") %>').children('.scheduledItem').size() > 3) {
      $('#flash_alert').show();
    }
 <% end %>
 <% if schedule.wednesday? %>
   $('#w<%= time_as_string(schedule.start_time, "") %>').append('<div class="scheduledItem">&nbsp; <%= time_as_string(schedule.start_time, ":") %>: <%= link_to truncate(schedule.test_plan.name, :length => 13), schedule, :title => schedule.test_plan.name %></div>');
   if ($('#w<%= time_as_string(schedule.start_time, "") %>').children('.scheduledItem').size() > 3) {
      $('#flash_alert').show();
    }
 <% end %>
 <% if schedule.thursday? %>
   $('#r<%= time_as_string(schedule.start_time, "") %>').append('<div class="scheduledItem">&nbsp; <%= time_as_string(schedule.start_time, ":") %>: <%= link_to truncate(schedule.test_plan.name, :length => 13), schedule, :title => schedule.test_plan.name %></div>');
   if ($('#u<%= time_as_string(schedule.start_time, "") %>').children('.scheduledItem').size() > 3) {
       $('#flash_alert').show();
     }
 <% end %>
 <% if schedule.friday? %>
   $('#f<%= time_as_string(schedule.start_time, "") %>').append('<div class="scheduledItem">&nbsp; <%= time_as_string(schedule.start_time, ":") %>: <%= link_to truncate(schedule.test_plan.name, :length => 13), schedule, :title => schedule.test_plan.name %></div>');
   if ($('#f<%= time_as_string(schedule.start_time, "") %>').children('.scheduledItem').size() > 3) {
       $('#flash_alert').show();
     }
 <% end %>
 <% if schedule.saturday? %>
   $('#s<%= time_as_string(schedule.start_time, "") %>').append('<div class="scheduledItem">&nbsp; <%= time_as_string(schedule.start_time, ":") %>: <%= link_to truncate(schedule.test_plan.name, :length => 13), schedule, :title => schedule.test_plan.name %></div>');
   if ($('#s<%= time_as_string(schedule.start_time, "") %>').children('.scheduledItem').size() > 3) {
       $('#flash_alert').show();
     }
 <% end %>
 <% if schedule.sunday? %>
   $('#u<%= time_as_string(schedule.start_time, "") %>').append('<div class="scheduledItem">&nbsp; <%= time_as_string(schedule.start_time, ":") %>: <%= link_to truncate(schedule.test_plan.name, :length => 13), schedule, :title => schedule.test_plan.name %></div>');
   if ($('#u<%= time_as_string(schedule.start_time, "") %>').children('.scheduledItem').size() > 3) {
       $('#flash_alert').show();
     }
 <% end %>

<% end %>
</script>