$('.treeForm').html("Category created successfully.").delay(2000).fadeOut(1000).queue(function() {
  $(this).remove(); 
});

var categoryLink = '<i class="icon-chevron-right"></i> <a href="<%= escape_javascript(list_category_children_path(@category)) %>" class="treeLink" data-remote="true"><%= escape_javascript(@category.name) %></a> ';
var addSubCategoryLink = '<%= link_to image_tag("add_folder.png", :alt => "Create Category"), new_subcategory_path(@category.id), :remote => true %>';
var editCategoryLink = '<%= link_to image_tag("edit_folder.png", :alt => "Edit Category"), edit_category_path(@category.id), :remote => true %> ';
var deleteCategoryLink = '<%= link_to image_tag("remove_folder.png", :alt => "Delete Category"), @category, :confirm => "Are you sure?", :method => :delete, :remote => true %>';
var newDiv = '<div class="treeChild" id="treeChild<%= escape_javascript(@category.id.to_s) %>"><div class="triangle-right" style="float: left"></div>' + categoryLink + addSubCategoryLink + editCategoryLink + deleteCategoryLink + '</div>';

if ( $('.treeForm').siblings('.treeChild').length > 0) {
  $('.treeForm').siblings('.treeChild').last().after(newDiv);

  if ( $('.treeForm').siblings('.treeChild').first().is(":hidden") ) {
        $('#treeChild<%= escape_javascript(@category.id.to_s) %>').hide();
  }
  
}
else if ( $('.treeForm').siblings('.treeNoData').length > 0 ){
  $('.treeForm').siblings('.treeNoData').remove();
  
  $('.treeForm').before(newDiv);
}