<%= form_for([@result, @upload], :html => { :multipart => true }) do |f| %>
<% if @upload.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this test_case from being saved:</h2>

    <ul>
    <% @upload.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  File: <%= f.file_field :upload %>
  <%= f.label :description %>
  <%= f.text_field :description, :size => 45 %><br />
  <%= f.submit %>
  <%= submit_tag "Cancel" %>
<% end %>