<br/><br/><br/>
<div class="row-fluid">
  <div class="span12">
    <legend class="show">Attachments</legend>

  	<table id="uploadsTable" class="sortable_table">
  		<tr class="sortableHeader">
  		  <th width=600></th>
  			<th>Description</th>
  			<% if can? :destroy, Upload %>
  				  <th></th>
  			<% end %>
  		</tr>
		
  		<% if uploadable_item.uploads.count == 0 %>
        <tr id="no_uploads" class="odd"><td>No attachments</td><td></td><td></td>
    			<% if can? :destroy, Upload %>
    				  <td></td>
    			<% end %>
        </tr>
      <% else %>
    		<% uploadable_item.uploads.each do |upload| %>
    		  <tr class="<%= cycle('odd', 'even') %> upload_<%= upload.id %>">
    		    <td width=600><%= generate_link_with_thumbnail(upload) %></td>
    			  <td><%= best_in_place upload, :description %></td>
    			  <% if can? :destroy, Upload %>
    				  <td>
    				    <%= link_to '<i class="icon-trash"></i>'.html_safe, upload, :confirm => 'This will permanently delete the file. Are you sure?', :method => :delete, :remote => true %>
    				    <% if upload.uploadable_type == 'TestCase'%>
    				      <br><br><%= link_to("Make Executable", executable_upload_path(upload), :remote => true) %>
    				    <% end %>
    				  </td>
    				<% end %>
    		  </tr>
    		<% end %>
    	<% end %>
  	</table>

    <div id="addUpload">
        <%= form_for(Upload.new(uploadable_id: uploadable_item.id, uploadable_type: uploadable_item.class.name), :html => { :multipart => true, :class => 'form-inline' }, :remote => true, :multiple => true) do |u| %>
          <%= u.hidden_field :uploadable_id %>
          <%= u.hidden_field :uploadable_type %>
          <%= u.label :upload, "File" %>
        	<%= u.file_field :upload, multiple: true, name: "upload[upload]" %>
        <% end %>
    </div>
  </div>
  <script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
  </script>
</div> <!-- end attachment module -->	
